.headerAbout {
  left: 120px;
  position: absolute;
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  letter-spacing: 2px;
  font-style: normal;
  font-weight: 820;
  font-size: 60px;
  top: 200px;
  image-rendering: -webkit-optimize-contrast;
}

.headerBelow {
  position: absolute;
  height: 24px;
  letter-spacing: 0;
  margin-left: 160px;
  margin-top: 170px;
  width: 463px;
  color: #8abd91;
  font-family: var(--font-family-montserrat);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  white-space: nowrap; /* keeps text on one line */
}

.alexaPolariod {
  width: 386px;
  height: 528px;
  margin-top: 210px;
  margin-left: 250px;
  image-rendering: -webkit-optimize-contrast;
  -webkit-border-radius: 0px;
}

.colinPolariod {
  width: 386px;
  height: 528px;
  margin-left: 200px;
  image-rendering: -webkit-optimize-contrast;
  -webkit-border-radius: 0px;
}

.daniPolariod {
  position: absolute;
  width: 438px;
  height: 528px;
  margin-top: 750px;
  margin-left: -950px;
  image-rendering: -webkit-optimize-contrast;
  -webkit-border-radius: 0px;
}

.rachelPolariod {
  position: absolute;
  width: 386px;
  height: 528px;
  margin-top: 830px;
  margin-left: -450px;
  image-rendering: -webkit-optimize-contrast;
  -webkit-border-radius: 0px;
}

.bestPart1 {
  left: 120px;
  position: absolute;
  color: #8abd91;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  letter-spacing: 2px;
  font-style: normal;
  font-weight: 820;
  font-size: 60px;
  margin-top: 650px;
  image-rendering: -webkit-optimize-contrast;
}

.bestPart2 {
  left: 120px;
  position: absolute;
  color: #8abd91;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  letter-spacing: 2px;
  font-style: normal;
  font-weight: 820;
  font-size: 60px;
  margin-top: 720px;
  image-rendering: -webkit-optimize-contrast;
}

.description1 {
  position: absolute;
  height: 24px;
  letter-spacing: 0;
  margin-left: 160px;
  margin-top: 820px;
  width: 463px;
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  white-space: nowrap; /* keeps text on one line */
}

.description2 {
  position: absolute;
  height: 24px;
  letter-spacing: 0;
  margin-left: 160px;
  margin-top: 850px;
  width: 463px;
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  white-space: nowrap; /* keeps text on one line */
}

.description3 {
  position: absolute;
  height: 24px;
  letter-spacing: 0;
  margin-left: 160px;
  margin-top: 880px;
  width: 463px;
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  white-space: nowrap; /* keeps text on one line */
}

.description4 {
  position: absolute;
  height: 24px;
  letter-spacing: 0;
  margin-left: 160px;
  margin-top: 960px;
  width: 463px;
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  white-space: nowrap; /* keeps text on one line */
}

.plane {
  position: absolute;
  width: 695px;
  height: 378px;
  margin-top: 1500px;
  margin-left: -250px;
  image-rendering: -webkit-optimize-contrast;
  -webkit-border-radius: 0px;
}

.bottomLine1 {
  height: 1px;
  left: 81px;
  position: absolute;
  top: 1990px;
  width: 1239px;
}

/* Copytight Icon */
.copyright1 {
  background-position: 50% 50%;
  background-size: cover;
  height: 22px;
  margin-top: 1920px;
  margin-left: -1120px;
  position: absolute;
  width: 22px;
}

.address1 {
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  margin-top: 1177px;
  margin-left: 135px;
  font-family: var(--font-family-montserrat);
}

.socialMedia1 {
  background-position: 50% 50%;
  background-size: cover;
  height: 41px;
  margin-left: -110px;
  margin-top: 1945px;
  position: absolute;
  width: 232px;
  top: 80px;

  image-rendering: -webkit-optimize-contrast;
  -webkit-border-radius: 0px;
}

/* affects potion image on main? */
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
