.header {
    position: absolute;
    width: 80%;
    height: 100px;
    left: 10%;
    top: 5%;
    background: #96c498;
    border-radius: 10px;
  
    font-family: Courier New;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    letter-spacing: 4px;
    line-height: 100px;
    color: #000000;
  }

.pinkblock{
    position: absolute;
    width: 500px;
    height: 239px;
    left: 10%;
    top: 25%;
    background: #E2C2B9;
    border-radius: 10px;
    padding: 10px;


    font-family: Courier New;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: #000000;
}

.yellowblock{
    position: absolute;
    width: 500px;
    height: 239px;
    top: 25%;
    right: 10%;
    background: #F2DDC1;
    border-radius: 10px;
    padding: 10px;

    font-family: Courier New;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: #000000;
}

.imagecontainer{
    position: absolute;
    width: 80%;
    height: 150px;
    left: 10%;
    top: 65%;

}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

figcaption {
    font-family: Courier New;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: #000000;
    padding-top: 10px;
    margin-right: 55px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.myButton {
	background-color:#96c498;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#050505;
	font-family:Courier New;
	font-size:17px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
    margin-left: 10px;
    margin-top: 40px;
}
.myButton:hover {
	background-color:#9C89B8;
}
.myButton:active {
	position:relative;
	top:1px;
}

        