.overlap-group4 {
  align-self: flex-start;
  height: 109px;
  margin-left: -6px;
  position: relative;
  width: 1440px;
}

.nav-bar {
  align-items: flex-end;
  background-color: rgb(255, 255, 255);
  display: flex;
  height: 109px;
  left: 0;
  padding: 0 81px;
  position: absolute;
  width: 50%;
}

/* Rainbow potion icon */
.image-1-1 {
  align-self: center;
  cursor: pointer;
  height: 77px;
  margin-top: 14px;
  object-fit: cover;
  width: 81px;
  image-rendering: -webkit-optimize-contrast;
}

.text {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-left: 10px;
  min-width: 325px;
}

.potion {
  cursor: pointer;
  letter-spacing: 0;
  min-height: 24px;
  min-width: 70px;
  color: #96c498;
  font-family: var(--font-family-montserrat);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.about-us {
  cursor: pointer;
  letter-spacing: 0;
  margin-left: 49px;
  min-height: 24px;
  min-width: 95px;
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.help {
  cursor: pointer;
  letter-spacing: 0;
  margin-left: 57px;
  min-height: 48px;
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.text-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-bottom: 19px;
  margin-left: 535px;
  min-width: 287px;
}

.log-in-1 {
  letter-spacing: 0;
  min-height: 24px;
  min-width: 63px;
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.try-potion-free {
  cursor: pointer;
  letter-spacing: 0;
  margin-left: 69px;
  min-height: 24px;
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

/* Vertical line between login and try potion free */
.line-1 {
  height: 36px;
  left: 1126px;
  position: fixed;
  top: 56px;
  width: 1px;
}

/* Top horizontal line */
.line-2 {
  height: 1px;
  left: 81px;
  position: absolute;
  top: 104px;
  width: 1239px;
}
