.home {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1334px;
  width: 1440px;
}

.text-9 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 190px;
  min-width: 325px;
  position: absolute;
  top: 61px;
}

.potion-5 {
  letter-spacing: 0;
  min-height: 24px;
  min-width: 70px;
}

.about-us-5 {
  cursor: pointer;
  letter-spacing: 0;
  margin-left: 49px;
  min-height: 24px;
  min-width: 95px;
}

.help-5 {
  cursor: pointer;
  letter-spacing: 0;
  margin-left: 57px;
  min-height: 48px;
}

.image-1-6 {
  height: 77px;
  left: 99px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 81px;
}

.line-2-1 {
  height: 1px;
  left: 99px;
  position: absolute;
  top: 104px;
  width: 1239px;
}

.line-1-1 {
  height: 36px;
  left: 1144px;
  position: absolute;
  top: 56px;
  width: 1px;
}

.overlap-group2-4 {
  height: 469px;
  margin-left: 55px;
  margin-top: 169px;
  position: relative;
  width: 1217px;
  z-index: 2;
}

.overlap-group1-3 {
  height: 469px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1217px;
}

.image-27 {
  height: 469px;
  left: 510px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 707px;
}

.true-minimalism-meets-productivity {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 83px;
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 800;
}

.text-10 {
  align-items: center;
  display: flex;
  height: 24px;
  justify-content: center;
  left: 31px;
  position: absolute;
  top: 234px;
  width: 465px;
}

.where-things-get-don {
  height: 24px;
  letter-spacing: 0;
  margin-left: -2px;
  width: 463px;
  color: var(--envy);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.line-3-3 {
  height: 1px;
  margin-right: 1px;
  margin-top: 572px;
  width: 1239px;
  z-index: 3;
}

.flex-row-4 {
  align-items: flex-start;
  display: flex;
  margin-left: 35px;
  margin-top: 22px;
  min-width: 1237px;
  z-index: 1;
}

.image-2 {
  height: 22px;
  margin-top: 3px;
  object-fit: cover;
  width: 22px;
}

.address-5 {
  align-self: center;
  letter-spacing: 0;
  margin-bottom: 2px;
  margin-left: 6px;
  min-height: 25px;
  width: 143px;
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.image-3 {
  height: 41px;
  margin-left: 834px;
  object-fit: cover;
  width: 232px;
}

