.headerLog {
    /* Rectangle 14 */

    position: absolute;
    width: 40%;
    height: 100px;
    left: 29%;
    top: 5%;
    background: #96C498;
    border-radius: 10px;

    font-family: Courier New;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    letter-spacing: 4px;
    line-height: 100px;
    color: #000000;
}

.fieldNameULog {
    position: absolute;
    width: 42%;
    height: 20%;
    left: 28%;
    top: 24%;
    font-family: Courier New;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    color: #000000;
  }
  
  .textboxULog {
    position: absolute;
    width: 42%;
    height: 8%;
    left: 28%;
    top: 31%;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Courier New;
    font-style: normal;
    font-size: 20px;
  }
  
  .fieldNamePLog {
    position: absolute;
    width: 42%;
    height: 20%;
    left: 28%;
    top: 41%;
    font-family: Courier New;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    color: #000000;
  }
  
  .textboxPLog {
    position: absolute;
    width: 42%;
    height: 8%;
    left: 28%;
    top: 48%;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Courier New;
    font-style: normal;
    font-size: 20px;
  }

.submitLog {
    position: absolute;
    width: 243px;
    height: 64px;
    left: 40%;
    top: 68%;
  
    background: #96c498;
    font-family: Courier New;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
  }
