.overlap-group8 {
  height: 915px;
  margin-right: 1px;
  margin-top: 197px;
  position: relative;
  width: 1239px;
}

/* Footer Line*/
.line-10 {
  height: 1px;
  left: 81px;
  position: absolute;
  top: 860px;
  width: 1239px;
}

/* Social Media Icons */
.overlap-group-container {
  align-items: flex-start;
  display: flex;
  margin-left: 85px;
  margin-top: -110px;
  min-width: 1237px;
  padding-bottom: 100px;
}

/* Copytight Icon */
.image-container {
  background-position: 50% 50%;
  background-size: cover;
  height: 22px;
  margin-top: 3px;
  position: relative;
  width: 22px;
  top: 80px;
}

/* Social media icons */
.image-container-1 {
  background-position: 50% 50%;
  background-size: cover;
  height: 41px;
  margin-left: 834px;
  position: relative;
  width: 232px;
  top: 80px;
}

/* Pumkin */
.image-7 {
  height: 380px;
  left: 850px;
  object-fit: scale-down;
  position: absolute;
  top: 552px;
  width: 500px;
}

/* Restricts Foother */
.address-container {
  align-self: center;
  height: 25px;
  margin-bottom: 2px;
  margin-left: 6px;
  position: relative;
  width: 143px;
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
  top: 80px;
} 
