.show-password {
    width: 70px;
    font-size: 18px;
    color: rgb(138, 189, 145);
    font-family: var(--font-family-montserrat);
    font-style: normal;
    margin-left: 450px;
    margin-top: -22px;
    background-color: rgb(252, 252, 252, 0.1);
  }
  