.text-3 {
  height: 24px;
  margin-left: 59px;
  margin-top: 21px;
}

.forgot-password {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
}
